.product-detail-page {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: start;
  justify-items: center;
}

.product-detail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.4rem;
}

.product-detail-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-detail-description {
  color: #4b5563;
  margin-bottom: 1rem;
}

.product-detail-price {
  font-size: 1.8rem;
  color: #111827;
  margin-bottom: 1rem;
}

.product-detail-action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-to-cart-button {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.loading {
  padding: 1rem;
}
