.cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20rem;
    background: white;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    overflow-y: auto;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cart-sidebar-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.cart-close-button {
    font-size: 1.2rem;
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}

.cart-close-button:hover {
    color: black;
    font-weight: bold;
}

.cart-empty {
    display: flex;
    gap: .7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: .7rem;
}

.cart-item {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 0.75rem;
}

.cart-item-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .25rem;
    border: 1px solid #e5e7eb;
}

.cart-item-details {
    flex: 1;
}

.cart-item-title {
    font-weight: 600;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-item-price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.cart-quantity-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.remove-button {
    margin-top: .3rem;
    margin-left: 0.5rem;
}

.cart-footer {
    border-top: 1px solid #e5e7eb;
    padding-top: 1rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.checkout-button {
    width: 100%;
    margin-bottom: 2rem;
}