.custom-button {
    background-color: #4f46e5;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #3c366b;
}