.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #5850ff;
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.header.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-button {
    background: transparent;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.cart-icon {
    width: 20px;
    height: 20px;
}