
/* General Styles */
body, html, .app-container {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* Tailwind's bg-gray-100 */
  min-height: 100vh;
  font-family: sans-serif;
}


/* Main Content */
.main-content {
  padding: 1rem;
}
